In [1]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Load your dataset (replace 'crime_data.csv' with your data file)
crime_data = pd.read_csv('C:/Users/manas/OneDrive/Desktop/Crime_Data_from_2010_to_2019.csv')

In [7]:
# Display the first few rows of the dataset to get an overview
crime_data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13,Newton,1385,2,900,VIOLATION OF COURT ORDER,...,AA,Adult Arrest,900.0,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.0224,-118.2524
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6,Hollywood,646,2,900,VIOLATION OF COURT ORDER,...,IC,Invest Cont,900.0,998.0,NaN,NaN,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1,Central,176,1,122,"RAPE, ATTEMPTED",...,IC,Invest Cont,122.0,NaN,NaN,NaN,8TH ST,SAN PEDRO ST,34.0387,-118.2488

In [8]:
# Check the data types and missing values
crime_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2135598 entries, 0 to 2135597
Data columns (total 28 columns):
 #   Column          Dtype
---  ------          -----
 0   DR_NO           int64
 1   Date Rptd       object
 2   DATE OCC        object
 3   TIME OCC        int64
 4   AREA            int64
 5   AREA NAME       object
 6   Rpt Dist No     int64
 7   Part 1-2        int64
 8   Crm Cd          int64
 9   Crm Cd Desc     object
 10  Mocodes         object
 11  Vict Age        int64
 12  Vict Sex        object
 13  Vict Descent    object
 14  Premis Cd       float64
 15  Premis Desc     object
 16  Weapon Used Cd  float64
 17  Weapon Desc     object
 18  Status          object
 19  Status Desc     object
 20  Crm Cd 1        float64
 21  Crm Cd 2        float64
 22  Crm Cd 3        float64
 23  Crm Cd 4        float64
 24  LOCATION        object
 25  Cross Street    object
 26  LAT             float64
 27  LON             float64
dtypes: float64(8), int64(7), object(13)
memory usage: 456.2+ MB

In [9]:
# Calculate summary statistics to understand the data distribution
crime_data.describe()

,DR_NO,TIME OCC,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LAT,LON
count,2.135598e+06,2.135598e+06,2.135598e+06,2.135598e+06,2.135598e+06,2.135598e+06,2.135598e+06,2.135549e+06,719052.000000,2.135588e+06,142015.000000,3658.000000,106.000000,2.135598e+06,2.135598e+06
mean,1.496613e+08,1.359324e+03,1.113328e+01,1.159672e+03,1.445385e+00,5.071724e+02,3.171884e+01,3.112535e+02,371.076577,5.069906e+02,948.864500,972.595681,976.849057,3.405945e+01,-1.182950e+02
std,3.055463e+07,6.471836e+02,6.017258e+00,6.016848e+02,4.970084e-01,2.107269e+02,2.067134e+01,2.115765e+02,113.739488,2.105845e+02,125.631703,84.233732,79.788386,8.007622e-01,2.753841e+00
min,1.208575e+06,1.000000e+00,1.000000e+00,1.000000e+02,1.000000e+00,1.100000e+02,-1.200000e+01,1.010000e+02,101.000000,1.100000e+02,210.000000,93.000000,421.000000,0.000000e+00,-1.188279e+02
25%,1.215082e+08,9.300000e+02,6.000000e+00,6.440000e+02,1.000000e+00,3.300000e+02,2.000000e+01,1.020000e+02,400.000000,3.300000e+02,998.000000,998.000000,998.000000,3.400930e+01,-1.184365e+02
50%,1.512117e+08,1.430000e+03,1.200000e+01,1.204000e+03,1.000000e+00,4.420000e+02,3.200000e+01,2.100000e+02,400.000000,4.420000e+02,998.000000,998.000000,998.000000,3.406205e+01,-1.183290e+02
75%,1.720006e+08,1.900000e+03,1.600000e+01,1.684000e+03,2.000000e+00,6.260000e+02,4.600000e+01,5.010000e+02,400.000000,6.260000e+02,998.000000,998.000000,998.000000,3.417570e+01,-1.182775e+02
max,9.102204e+08,2.359000e+03,2.100000e+01,2.199000e+03,2.000000e+00,9.560000e+02,1.180000e+02,9.710000e+02,516.000000,9.990000e+02,999.000000,999.000000,999.000000,3.479070e+01,0.000000e+00

In [10]:
# Check for any duplicate rows
duplicate_rows = crime_data[crime_data.duplicated()]
if not duplicate_rows.empty:
    print("Duplicate rows found, removing duplicates...")
    crime_data.drop_duplicates(inplace=True)